@model AppGym.Models.Jornadas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Eliminar Jornada "+Model.NombreJornada;
    ViewData["head"] = true;
}

<hr />
<div class="row">
    <div class="col-md-3">
        Nombre de la Jornada
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreJornada)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Cantidad de dias
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.DiasJornada)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de los dias
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreDias)
    </div>
</div>
<br /><br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdJornada" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
