@model AppGym.Models.Jornadas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Detalles de la Jornada "+Model.NombreJornada;
    ViewData["head"] = true;
}
<hr />
<div class="row">
    <div class="col-md-3">
        Nombre de la Jornada
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreJornada)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Cantidad de dias
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.DiasJornada)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Nombre de los dias
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.NombreDias)
    </div>
</div>
<br /><br />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdJornada">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
