@model AppGym.Models.Jornadas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div style="margin: 0 auto">
    <form asp-action="Edit">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJornada" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label">Nombre de la jornada:</label>
                    <input asp-for="NombreJornada" class="form-control" />
                    <span asp-validation-for="NombreJornada" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label">Dias en numeros</label>
                    <input asp-for="DiasJornada" class="form-control" type="number" />
                    <span asp-validation-for="DiasJornada" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label">Abreviatura de los dias</label>
                    <input asp-for="NombreDias" class="form-control" />
                    <span asp-validation-for="NombreDias" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index">Regresar</a>
         </div>
    </form>
</div>
@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJornada" />
            <div class="form-group">
                <label asp-for="NombreJornada" class="control-label"></label>
                <input asp-for="NombreJornada" class="form-control" />
                <span asp-validation-for="NombreJornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasJornada" class="control-label"></label>
                <input asp-for="DiasJornada" class="form-control" />
                <span asp-validation-for="DiasJornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDias" class="control-label"></label>
                <input asp-for="NombreDias" class="form-control" />
                <span asp-validation-for="NombreDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
