body {
    background: #c6c6c6 ;
}
.container{
    background: #ffffff;
    padding: 0 5px;
}
#cards > .card{
    width : 80%;
    margin : 0 2px 2px;
}
.login{
    margin : 5% auto;
    width : 20rem;
    padding : 10px;
    text-align:center;
}
.login {
    margin: 5% auto;
}