@model AppGym.Models.Bitacoras

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Eliminar bitacora del dia "+ Model.IdEmpleadoBitacoraNavigation.NombresEmpleado +" "+ Model.IdEmpleadoBitacoraNavigation.ApellidosEmpleado ;
    ViewData["head"] = true;
}

<br />
<div class="row">
    <div class="col-md-3">
        Fecha
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.Asistencia)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Empleado
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.IdEmpleadoBitacoraNavigation.NombresEmpleado);
    </div>
</div>
<br />
<br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBitacora" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
