@model AppGym.Models.Bitacoras

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["nameHeader"] = "Bitacora del dia "+ Model.IdEmpleadoBitacoraNavigation.NombresEmpleado +" "+ Model.IdEmpleadoBitacoraNavigation.ApellidosEmpleado ;
    ViewData["head"] = true;
}

<br />
<div class="row">
    <div class="col-md-3">
        Fecha
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.Asistencia)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        Empleado
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(model => model.IdEmpleadoBitacoraNavigation.NombresEmpleado+" "+ model.IdEmpleadoBitacoraNavigation.ApellidosEmpleado);
    </div>
</div>
<br /><br />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdBitacora">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
