@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <br />
        <br />
        <div>
            <h1>Gym App Standar</h1>
        </div>
        <div>
            <p>
                Los mejores planes de entrenamiento a tu alcance
            </p>
        </div>
    </div>
    <div>
        <img src="/imgs//04012019-28.jpg" width="300"/>
    </div>
</div>

<div class="bg-dark text-white">
     <h2 style="text-align:center">Planes de inscripcion.</h2> 
</div>

<div class="row" id="cards">

    <div class="col-md-5">
        <div class="card" >
            <img class="card-img-top" src="/imgs/gymLogo.jpg" width="100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">1 persona</h5>
                <p class="card-text">Este plan consta de un texto de prueba en el cual es general para cada uno de los card mencionados en este apartado de información</p>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" >
            <img class="card-img-top" src="/imgs/gymLogo.jpg" width="100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">2 persona</h5>
                <p class="card-text">Este plan consta de un texto de prueba en el cual es general para cada uno de los card mencionados en este apartado de información</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-5">
        <div class="card" >
            <img class="card-img-top" src="/imgs/gymLogo.jpg" width="100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">3 persona</h5>
                <p class="card-text">Este plan consta de un texto de prueba en el cual es general para cada uno de los card mencionados en este apartado de información</p>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" >
            <img class="card-img-top" src="/imgs/gymLogo.jpg" width="100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Esudiante</h5>
                <p class="card-text">Este plan consta de un texto de prueba en el cual es general para cada uno de los card mencionados en este apartado de información</p>
            </div>
        </div>
    </div>

</div>